<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDVWHuDf2Z-AJ5oEcQOVO_JNO03FypoRtg</string>
	<key>GCM_SENDER_ID</key>
	<string>545837546400</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.homework10</string>
	<key>PROJECT_ID</key>
	<string>lx-mini-project-chapter-5e978</string>
	<key>STORAGE_BUCKET</key>
	<string>lx-mini-project-chapter-5e978.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:545837546400:ios:4478dc2dde2370418442c5</string>
</dict>
</plist>